@import "../../stylesheets/2-abstracts/abstracts-dir";

.button {
  background: $brand-main;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 1rem;
  color: white !important;
  border: none;
  @include flex-center();
  @include hoverTransition();
  font-family: inherit;

  svg {
    margin-left: 6px;
  }

  &:hover {
    background: $brand-accent;
    color: white !important;
  }
}