@import "../stylesheets/2-abstracts/_abstracts-dir.scss";

.wrapper {
  &:nth-child(even) {
    background-color: $bg-color !important;
  }
}

.section {
  @include container-maxwidth();
  @include articlePadding();

  div {
    padding-top: 0;
    order: 1;
    text-align: center;

    h4 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    h5 {
      margin-bottom: 0.5rem;
      color: $brand-main;

      span {
        color: $grey;
        margin-right: 0.5rem;
      }
    }
  }

  .image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 4px;
  }

  @media #{$break-md} {
    display: flex;

    div {
      text-align: left;

      h4 {
        margin-top: 0;
      }
    }

    img {
      width: 50%;
      height: auto;
      margin-right: 2.5rem;

      &.right {
        order: 2;
        margin-left: 2.5rem;
      }
    }
  }
}