@import "../2-abstracts/abstracts-dir";
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: $font-stack;
  margin: 0;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none !important;
  color: inherit;

  &:focus {
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.8125rem;

  @media #{$break-md} {
    font-size: 3rem;
    line-height: 4.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2.25rem;

  @media #{$break-md} {
    font-size: 2.25rem;
    line-height: 3.375rem;
  }
}

h3 {
  font-size: 1.875rem;
  line-height: 2.8125rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: uppercase;
}

p {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin: 0;
}
