@mixin container-maxwidth() {
  max-width: 960px;
  margin: 0 auto;

  @media #{$break-lg} {
    max-width: 1170px;
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flex-center-justify($direction: row) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}

@mixin bigShadow() {
  box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2);
}

@mixin articlePadding($hasMobileImage: false) {
  padding: 1.875rem 1rem;

  @if $hasMobileImage {
    padding: 1.875rem 0;
  }

  @media #{$break-md} {
    padding: 4.375rem 1rem;
  }

  @media #{$break-lg} {
    padding: 4.375rem 0rem;
  }
}

@mixin inputStyle() {
  border: 1px solid $border-grey;
  border-radius: 4px;
  padding: 0.8rem 1rem;
}

@mixin hoverTransition() {
  transition: 0.25s;
  transition-timing-function: ease-out;
  -webkit-transition: 0.25s;
  -webkit-transition-timing-function: ease-out;
}

@mixin cardImage($maxHeight:300px) {
  width: 100%;
  border-radius: 4px;
  max-height: $maxHeight;
  margin-bottom: 1rem;
  object-fit: cover;
}

@mixin card($desktopTextAlignLeft: true, $maxHeight:300px) {
  margin-bottom: 1.875rem;
  flex: 1;

  @media #{$break-md} {
    margin-bottom: 0;
    margin-right: 0.7rem;
  }

  &:last-child {
    margin: 0;
  }

  .image {
    @include cardImage($maxHeight);
  }

  @if $desktopTextAlignLeft {
    div {
      padding: 0 1rem;
      text-align: center;

      h5 {
        margin-bottom: 6px;
      }

      button {
        margin: 1rem auto 0 auto;
      }

      @media #{$break-md} {
        padding: 0;
        text-align: left;

        button {
          margin: 1rem 0 0 0;
        }
      }
    }
  }

  @else {
    div {
      padding: 0 1rem;
      text-align: center;

      h5 {
        margin-bottom: 6px;
      }

      button {
        margin: 1rem auto 0 auto;
      }

      @media #{$break-md} {
        padding: 0;
      }
    }
  }
}