@import "../../stylesheets/2-abstracts/_abstracts-dir.scss";

.wrapper {
  @media #{$break-md} {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 130px - 90px);
  }

  .title {
    background-image: url("../../assets/contact/titleBg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    @include articlePadding();
    padding-bottom: 8rem;

    @media #{$break-md} {
      width: 50%;
    }

    .inner {
      text-align: center;

      h2 {
        margin-bottom: 1rem;
      }

      .callUs {
        a {
          display: inline-flex;
          align-items: center;
          color: $brand-main;
          font-weight: bold;
          vertical-align: bottom;
        }
      }

      @media #{$break-md} {
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }

      @media #{$break-md} {
        text-align: left;
        max-width: 480px;
        margin: 0 0 0 auto;
        padding-right: 10rem;
      }

      @media #{$break-lg} {
        max-width: 585px;
      }
    }
  }

  .form {
    @include articlePadding();

    form {
      .field {
        @media #{$break-md} {
          display: flex;
          align-items: center;
          margin: 0.6rem 0;
        }

        label {
          font-weight: bold;
          width: 100%;
          margin-bottom: 0.5rem;

          @media #{$break-md} {
            width: 140px;
          }
        }

        input,
        textarea {
          @include inputStyle();
          width: 100%;
          margin: 0.5rem 0 1rem 0;

          @media #{$break-md} {
            margin: 0;
          }
        }

        :global .select {
          width: 100%;
          margin: 0.5rem 0 1rem 0;

          @media #{$break-md} {
            margin: 0;
          }

          .Dropdown-control {
            @include inputStyle();
          }

          .Dropdown-menu {
            @include inputStyle();
            padding: unset;
          }

          .Dropdown-arrow {
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
          }
        }
      }

      .submitButton {
        @media #{$break-md} {
          margin-top: 1.875rem;
        }

        button {
          width: 100%;
          margin: 0 auto;

          @media #{$break-md} {
            width: auto;
            margin: 0 0 0 auto;
          }
        }
      }
    }

    @media #{$break-md} {
      width: 50%;
      margin: 0 auto 0 0;
      padding-left: 3rem;
      max-width: 480px;
    }

    @media #{$break-lg} {
      max-width: 585px;
    }
  }
}