@import "../../../stylesheets/2-abstracts/_abstracts-dir.scss";

.standards {
  background-color: rgba(19, 82, 144, 0.06);

  .inner {
    @include container-maxwidth();
    @include articlePadding();
    @include flex-center(column);
    text-align: center;

    .subtitle {
      margin-top: 0.5rem;
      font-size: 1rem;
      max-width: 600px;
      text-align: center;
    }

    .items {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 3rem;
      max-width: 900px;
      margin: 3rem auto 1.875rem auto;

      @media #{$break-md} {
        margin-top: 4rem;
        grid-auto-flow: column;
        grid-gap: 4rem;
      }

      .iconWrapper {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: flex-end;
        text-align: left;
        margin: 0 0 1.25rem 0;

        .icon {
          margin-bottom: 1rem;
          width: 100%;
        }
      }

      .text {
        width: 120px;
      }
    }
  }
}

.keyDates {
  @include container-maxwidth();
  @include articlePadding();

  h2 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .text {
    width: 100%;
    padding-top: 0;
    order: 1;

    h5 {
      margin-bottom: 0.5rem;
      color: $brand-main;

      span {
        color: $grey;
        margin-right: 0.5rem;
      }
    }

    .paragraph {
      margin-bottom: 1.5rem;
    }
  }

  @media #{$break-md} {
    display: flex;
    width: 100%;

    h2 {
      width: 50%;
      margin-right: 2.5rem;
    }

    .text {
      width: 50%;
      padding-top: 1rem;
    }
  }
}