@import "../stylesheets/2-abstracts/_abstracts-dir.scss";

.outerContainer {
  min-height: 100vh;
}

.main {
  padding-top: 60px;
  min-height: calc(100vh - 100px);

  @media #{$break-md} {
    padding-top: 130px;
    min-height: calc(100vh - 91px);
  }
}

:global .dropdownMenu {
  z-index: 9999;
  border: 1px solid $border-grey;
  background-color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 120px;
  @include bigShadow();

  a {
    margin: 0.5rem 0 !important;
    text-align: left;
    display: block !important;
  }
}