@import "../stylesheets/2-abstracts/_abstracts-dir.scss";

.outerContainer {
  min-height: 100vh;
}

.main {
  padding-top: 60px;
  min-height: calc(100vh - 100px);

  @media #{$break-md} {
    padding-top: 130px;
    min-height: calc(100vh - 91px);
  }
}

:global .dropdown {
  position: relative;

  .dropdown-content {
    display: none;
    position: fixed;
    border: 1px solid $border-grey;
    background-color: white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-left: 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 99999;

    a {
      text-decoration: none;
      display: block !important;
      margin: 0 !important;
      padding: 0.5rem 0 0.2rem 0 !important;
    }
  }

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}