@import "../../../stylesheets/2-abstracts/_abstracts-dir.scss";

.overview {
  @include container-maxwidth();
  @include articlePadding();
  max-width: 900px;
  margin: 0 auto;

  .cards {
    display: grid;

    .card {
      @include card($maxHeight: 220px);
    }

    @media #{$break-md} {
      display: flex;
    }
  }
}

.wrapper {
  &:nth-child(odd) {
    background-color: $bg-color !important;
  }
}
.sectionWithColor {
  background-color: rgba(19, 82, 144, 0.06);

  .inner {
    @include container-maxwidth();
    @include articlePadding();
    @include flex-center(column);

    .titleDiv {
      @include flex-center(column);
      max-width: 580px;
      margin-bottom: 2rem;
      text-align: center;
    }

    hr {
      border-top: 2px solid rgba(19, 82, 144, 0.06);
      // background: #d9dde1;
      // height: 2px;
      width: 100%;
    }
  }
  .glassWool {
    display: flex;
    justify-content: space-between;
  }
}
