@import "../../../stylesheets/2-abstracts/_abstracts-dir.scss";

.overview {
  @include container-maxwidth();
  @include articlePadding();
  max-width: 900px;
  margin: 0 auto;

  .cards {
    display: grid;

    .card {
      @include card($maxHeight:220px);
    }

    @media #{$break-md} {
      display: flex;
    }
  }
}

.wrapper {
  &:nth-child(odd) {
    background-color: $bg-color !important;
  }
}

.section {
  @include articlePadding();
  max-width: 900px;
  margin: 0 auto;

  h4 {
    margin-bottom: 1rem;
  }

  .image {
    width: 100%;
    margin-bottom: 2rem;
    max-height: 220px;
    border-radius: 4px;
  }

  @media #{$break-md} {
    h4 {
      margin-top: 0;
    }
  }

  .description {
    :global .Collapsible {
      margin-top: 1rem;
      border-bottom: 1px solid $border-grey;

      &:last-child {
        border-bottom: none;
      }

      .Collapsible__trigger {
        cursor: pointer;
        color: $brand-main;

        &:hover {
          .trigger {

            h5,
            h6,
            svg {
              color: $brand-accent;
            }
          }
        }

        .trigger {
          @include flex-center-justify();

          h5,
          h6 {
            color: $brand-main;
            display: inline;
            margin-right: 1rem;
          }

          h6 {
            color: $black;
          }

          svg {
            vertical-align: middle;
            margin-bottom: 2px;
            margin-right: 0.5rem;
          }
        }

        &.is-open {
          svg {
            transform: rotateZ(180deg);
          }
        }

        &.is-disabled {
          opacity: 0.5;
          background-color: grey;
        }
      }

      .Collapsible__contentOuter {
        margin-top: 1rem;
      }

      .Collapsible__contentInner {
        margin-bottom: 1rem;
      }
    }
  }
}